

body {
    height: 3000px;
}

.flex {
    display: flex;
}

.images {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    background-color: rgb(18, 17, 17);
}

.cat-image {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin:20px 10px -10px 15px;

}

.info {
   background-color: rgb(69, 66, 66); 
   position: fixed;
   left:80px ;
   bottom: 0;
   top: 0;
   width: 200px;
   padding-top: 10px;
   padding-left: 15px;
   line-height: 33px;
}

@media (max-width:600px){
    .info{
            background-color: rgb(80, 112, 112);
    }
}

@media (( min-width : 601px) and (max-width:1000px) )
{
    .info {
        background-color: red;
    }
}
.header-name {
    color: white;
    
}

.description {
    color: rgb(157, 146, 146);
    padding-left: 3px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    font-weight: bolder;
}

.icon {
    color: aliceblue;
    font-size: 24px;
}
